@import "../../global.scss";
.container {
  display: flex;
  color: $maincolor;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > h1 {
    font-weight: 500;
    font-size: 40px;
    padding-bottom: 10px;
  }
  > span {
    font-weight: 300;
    font-size: 25px;
  }
}
